@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link nav-logout-btn" style="color: blue;" asp-controller="User" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link nav-register-btn" style="color: blue;" asp-controller="User" asp-action="Register">Get started</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-login-btn" style="color: #fff;" asp-controller="User" asp-action="Login">Login</a>
    </li>
}
</ul>
