<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-action="Dashboard" asp-controller="User">
                    <i class="bi bi-house-door"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="MyTasks" asp-controller="User">
                    <i class="bi bi-bar-chart-line"></i> My Tasks
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="NewTask" asp-controller="User">
                    <i class="bi bi-list-task"></i> New Task
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Notifications" asp-controller="User">
                    <i class="bi bi-person"></i> Notifications
                </a>
            </li>
            <li class="nav-item" style="margin-top: 2em;">
                <a class="nav-link" asp-action="Logout" asp-controller="User">
                    <i class="bi bi-person"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
