<div class="contact-container">
    <div class="contact-info-container">
        <h2>Streamline your personal workflow</h2>
        <p>Interested in learning more about how our premium plans can enhance your productivity? Connect with our support team for a free, no-obligation consultation and:</p>
        <ul>
            <li>Explore how our tools can simplify your task and project management.</li>
            <li>Learn about our advanced privacy features and dedicated user support.</li>
        </ul>
    </div>
    <div class="contact-form-container">
        <form>
            <label for="email">Work Email</label>
            <input id="email" type="email" placeholder="name@company.com"/>

            <label for="phonenumber">Phone number</label>
            <input id="phonenumber" type="text"/>

            <label for="textarea">How can our team help you?</label>
            <textarea id="textarea"></textarea>

            <a asp-controller="Home" asp-action="Index" class="contact-btn">Submit</a>
        </form>
    </div>
</div>
